@layout LoginLayout
@page "/Login"
@inject NavigationManager NavigationManager

<div class="align-items-center  ">
    <div class="bg-white border col-md-6 g-5 offset-md-3 rounded mt-5">
        <div class="text-center mt-5">
            <h3>TODO TASKS</h3>
        </div>
        <div class="align-items-center bd-highlight d-flex flex-column justify-content-center mb-3 ">
            <div class=" d-inline-flex mb-2 align-items-baseline">
                <label for="ui_username" style="width:120px">Username :</label>
                <input class="form-control" id="ui_username" data-cy="username" type="text">
            </div>
            <div class="d-inline-flex align-items-baseline">
                <label for="ui_password" style="width:120px">Password :</label>
                <input class="form-control" id="ui_password" data-cy="password" type="password">
            </div>
            <div class="mt-3 mb-1 d-inline-flex align-items-baseline">
                <button class="btn btn-primary">Sign In</button>
            </div>
            <label @onclick=GotoSignUp  id="ui_newuser" data-cy="newuser" style="color:dodgerblue;font-size:smaller;cursor:pointer" class=""> or create new user</label>
        </div>
    </div>
</div>

@code {
    private void GotoSignUp()
    {
        NavigationManager.NavigateTo("/Signup");
    }
}



